---
import LinkedInIcon from "@/icons/LinkedIn.astro";
import GitHubIcon from "@/icons/GitHub.astro";
import TiktokIcon from "@/icons/TikTok.astro";
---

<!-- social icons -->
<ul class="flex gap-2">
  <li><a href=""><LinkedInIcon /></a></li>
  <li><a href=""><GitHubIcon /></a></li>
  <li><a href=""><TiktokIcon /></a></li>
</ul>
