<picture
class="h-40 w-40 rounded-3xl bg-secondary"
>
<img
  src="./public/images/me.png"
  alt="Memoji of me"
  class="h-22 w-22"
/>
</picture>

<strong class="text-xl">Gaspar Castillo Catrifol</strong>

<span class="bg-secondary px-3 py-1 rounded-full font-medium">Web Developer</span>