---
const namePage = Astro.url.pathname.replace('/', '')
const title = namePage.trim().length <= 0 ? 'Welcome 🤘' : namePage
---

<header class="relative flex flex-col px-8 py-14 gap-4">
  <ul class="absolute flex gap-4 font-medium top-0 right-0 px-8 py-4 bg-white/5 rounded-bl-2xl shadow-lg">
    <li><a class="hover:text-amber-400 transition-all duration-300" href="/markdown">Home</a></li>
    <li><a class="hover:text-amber-400 transition-all duration-300" href="/projects">Projects</a></li>
    <li><a class="hover:text-amber-400 transition-all duration-300" href="/about">About</a></li>
    <li><a class="hover:text-amber-400 transition-all duration-300" href="/experience">Experience</a></li>
    <li><a class="hover:text-amber-400 transition-all duration-300" href="/repositories">Repositories</a></li>
  </ul>

  <h1 class="text-2xl font-bold capitalize">{title}</h1>

  <hr class="border-b-4 rounded-lg w-10 border-[#DCD7C9]" />
</header>
