<header class="relative flex flex-col px-8 pt-10 py-8 gap-4">
  <ul
    class="absolute flex gap-4 font-medium top-0 right-0 px-8 py-4 bg-secondary/10 rounded-bl-2xl shadow-lg"
  >
    <li>
      <a class="hover:text-tertiary transition-all duration-300" href="/"
        >Home</a
      >
    </li>
    <li>
      <a
        class="hover:text-tertiary transition-all duration-300"
        href="/projects">Projects</a
      >
    </li>
    <li>
      <a class="hover:text-tertiary transition-all duration-300" href="/about"
        >About</a
      >
    </li>
    <li>
      <a class="hover:text-tertiary transition-all duration-300" href="/resume"
        >Resume</a
      >
    </li>
    <li>
      <a
        class="hover:text-tertiary transition-all duration-300"
        href="/repositories">Repositories</a
      >
    </li>
  </ul>
</header>
