---
// import { Image } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import { ProjectGrid } from '@/components/projects/ProjectGrid'
// import { mockProjects } from '@/data/projects.mock'
---

<Layout title="Projects">
  <section class="px-8">
    <ProjectGrid/>
  </section>
</Layout>

<style>
  #projects-grid{
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(300px, 1fr)
    );
    gap: 10px;
  }
</style>