---
import Layout from "@/layouts/Layout.astro";
import { ProjectGrid } from "@/components/projects/ProjectGrid";
import Title from "@/components/ui/Title.astro";
---

<Layout title="Projects">
  <Title>Projects</Title>
  <ProjectGrid />
</Layout>

<style is:global>
  #projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
  }
</style>
