---
import TimeLine from "@/components/ui/TimeLine.astro";
import Title from "@/components/ui/Title.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Resume">
  <Title>Resume</Title>
  <TimeLine />
</Layout>
